wheel
setuptools
ninja
packaging
wandb
accelerate
trl
evaluate
hydra-core
orjson
python-dotenv
minio
sentencepiece
protobuf
datasets
einops
scipy
packaging
typer
bitsandbytes
huggingface-hub
Jinja2
tqdm
peft
scikit-learn
torchmetrics
nltk
rouge_score
vllm
Levenshtein
flash-attn